/* appear */
.fade-appear {
    opacity: 0.01;
  }
   
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  /* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 5000ms linear 5000ms;
  }
  
  /* exit */
  .fade-exit {
      opacity: 1;
  }
  .fade-exit.fade-exit-active {
      opacity: 0;
      transition: opacity 5000ms linear;
  }
  .fade-exit-done {
    opacity: 0;
  }

  // shake remove animation
@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}